<%- include("partials/header") -%>
    <div class="blog-body">
        <div class="blog-post">
            <h2>Contact</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing
                 elit. Placeat voluptatibus sapiente cum eligendi blanditiis assumenda corporis ratione labore accusantium nemo exercitationem voluptatem at dicta, aut vel velit vero iure ex.
                 Lorem, ipsum dolor sit amet consectetur adipisicing
                 elit. Placeat voluptatibus sapiente cum eligendi blanditiis assumenda corporis ratione labore accusantium nemo exercitationem voluptatem at dicta, aut vel velit vero iure ex.
                 Lorem, ipsum dolor sit amet consectetur adipisicing
                 elit. Placeat voluptatibus sapiente cum eligendi blanditiis assumenda corporis ratione labore accusantium nemo exercitationem voluptatem at dicta, aut vel velit vero iure ex.</p>
        </div>

    <%- include("partials/footer") -%>