<%- include("partials/header") -%>

<div class="blog-body">
    <div class="blog-post" id="blog-post2">
        <h2><%=headingpost.toUpperCase()%></h2>
        <p class="blogstr">
    
            <%=postblog%>
        
        </p>
    </div>

</div>
  
    <%- include("partials/footer") -%>