*{
    padding: 0px;
    margin: 0px;
    word-wrap: break-word;
    word-break: break-all;
}

html{
    background-image: -webkit-linear-gradient(100deg, rgb(199, 199, 199) 1%, rgb(255, 255, 255) 80%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
body{
   
    max-width: 100%;
    display: flex;
    flex-direction: column;
   
}
.header{
    width: 100%;
    margin: auto;
    max-width:100% ;
    color: rgb(255, 251, 251) ;
    background-color: rgb(196, 196, 196);
    display: inline-flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
   
}
.header h1{
    font-weight: normal;
    font-size: 20px;
    margin-left: 5%;
    padding-top: 20px;
    padding-bottom:20px ;
    letter-spacing: 5px;
}


.menu-list{
    display: inline-flex;
    width: 50%;
    margin-left: 30%;
    padding-top: 20px;
    padding-bottom:20px ;
   
}
a{
    text-decoration: none;
    color: rgb(255, 251, 251);
}
.menu-list p {
   
    letter-spacing: 6px;
    font-size: 20px;
    width: fit-content;
    transition: 0.2s;
   
}

.menu-list a:hover{
    color:  rgb(0, 89, 103);
    transition: 0.2s;
}

.menu-list p:not(:first-child){
    margin-left: 12%;
}

.blog-body{
    width: 90%;
    word-wrap: normal;
}

.blog-post{
    margin-left: 5%;
}
.blog-post p{
    text-align: justify;
    font-size: 20px;
    line-height: 1.4;
}

.blog-post a{
    text-decoration: none;
    color: rgb(30, 0, 255);
}

h2{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:30px ;

}

footer{
    width: 100%;
    max-width: 100%;
    position: absolute;
    background-color: rgb(0, 221, 255);
    bottom: 0%;
}

footer p{
    text-align: center;
    font-size: 12pt;
    padding-top: 10px;
    padding-bottom: 10px;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    
}
form{
    margin-left: 5%;
}
input[name="headingpost"]{
    width: 90%;
    margin-top: 2%;
}
textarea[name="blogpost"]{
    margin-top: 2%;
    width: 90%;
    height: 300px;
    font-size: 20px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-top: 10px;
    
   
}

.blogstr::first-letter{
    text-transform: uppercase;
}


button[name="button"]{
    margin-top: 2%;
    width: 10%;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 234);
    height: 40px;
    border-radius: 50px;
    border-style: hidden;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0px 3px 5px -2px black;
}
input[type=text]{
    height: 40px;
    font-size: 20px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    border: none;
    border-bottom: solid 3px rgb(146, 145, 145);
   
}
input[type=text]::first-letter{
    text-transform: uppercase;
}

input[type=text]:focus{
    box-shadow: inset 0px 4px 14px -5px rgb(116, 116, 116);
    outline: none;
}
input[type=text]::placeholder{
   padding-left: 20px;
}


